[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=thereminacrayon
X-Python-2-Compatible=false
Name=Theremin a crayon
Comment=Theremin a crayon