[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=thereminacrayon
X-Python-2-Compatible=true
X-Krita-Manual=Manual.html
Name=thereminacrayon
Comment=Replace this text with your description
